<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


</head>
<body>
    {% load static %}
  <div class="navbar"  style="background-image: url({% static 'images/HD.jpg' %}) ; ">
    <nav >
        <h2></h2>
            <ul>
                    <li>  <a href="/table/" >Table</a></li>
                    <li>  <a href="/myChart/" >Chart</a></li>
                    <li>  <a href="/data/" >Json</a></li>
            </ul>





    </nav>
</div>
{% block i %}
  {% endblock %}
</body>
</html>